<footer>
    <div class="f-info">
        <div class="f-info-socials mt-2">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="f-info-brand">
            &copy;BATTLE ARENA 2026
        </div>
        <div class="f-info-links">
            <a href="/terms">Terms</a> &nbsp; &nbsp;
            <a href="/privacy">Privacy</a>
        </div>
    </div>
</footer>