<nav class="navbar custom-navbar navbar-expand-lg  border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Battle Arena</a>
    <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="#">Tournaments</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact</a>
      </ul>
    </div>
  </div>
</nav>