<nav class="navbar custom-navbar navbar-expand-lg  border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><b>Battle Arena</b></a>
    <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/tournaments">Tournaments</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/contact">Contact</a>
      </ul>
    </div>
    <div class="nav-btns">
      <a href="/login"><button class="nav-btn btn btn-primary">Login</button></a>
      <a href="/register"><button class="nav-btn btn btn-dark">Register</button></a>
    </div>
  </div>
</nav>